venv
business
.idea
*.aux
*.fdb_latexmk
*.fls
*.log
documentation/chapters/1_Introduction.tex
*.fls
*.log
*.out
*.synctex.gz
*.toc
python/flask_app/processed/*
python/flask_app/uploads/*
python/flask_app/static/images/
*.csv
*.snm
*.nav
documentation/documentation.pdf
documentation/slides/slides.pdf
